@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../ASSETS/Fonts/PlusJakartaSans-VariableFont_wght.ttf');
  font-weight: 100 1000;
}

//Variables and components
//Tipography
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-24: 1.5rem;
$fs-26: 1.625rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-44: 2.75rem;
$fs-56: 3.5rem;

$fw-med: 500;
$fw-bld: 700;

//Colors
$bg: rgba(255, 247, 240, 1);
$heading-black: rgba(3, 3, 3, 1);
$label-cards: rgba(255, 255, 255, 1);
$paragraph: rgba(122, 116, 110, 1);
$bg-illustration: rgba(235, 117, 101, 1);
$bg-motion: rgba(85, 32, 73, 1);
$bg-photography: rgba(97, 196, 183, 1);
$bg-apps: rgba(243, 158, 158, 1);
$bg-ui: rgba(246, 165, 96, 1);
$bg-graphic: rgba(117, 92, 222, 1);


//general reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//Components

//Heading and paragraphs
.body{
  font-size: $fs-16;
  font-weight: $fw-med;
  color: $paragraph;
  line-height: 1.75rem;
  font-family: 'Plus Jakarta Sans';
}

h1,
h2,
h3{
  color: $heading-black;
}

h1{
  font-size: $fs-36;
   @media screen and (min-width: 25rem) {
    max-width: 13ch;
   }
}

h2{
  font-size: $fs-26;
}

h3{
  font-size: $fs-24;
  align-self: center;
}

@media screen and (min-width: 48rem) {
  h1{
    font-size: $fs-44;
    max-width: max-content;
  }

  h2,
  h3{
    font-size: $fs-32;
  }

  .body{
    font-size: $fs-18;
  }
}

@media screen and (min-width: 75rem) {
  h1{
    font-size: $fs-56;
  }

  h2{
    font-size: $fs-44;
  }
}

//layout pattern
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin flex-between {
  @include flex;
  justify-content: space-between;
}

@mixin flex-col{
  @include flex;
  flex-direction: column;
}

//buttons
@mixin cta {
  color: $bg;
  border-radius: 28px;
  background-color: transparent;
  font-size: $fs-14;
  padding-block: 0.5rem;
  padding-inline: 1.75rem;
  line-height: 200%;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  overflow: hidden;
  transform: scale(1);

    &::before{
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      background-color: $heading-black;
      z-index: -2;
    }

    &::after{
      content: '';
      position: absolute;
      border-radius: 28px;
      top: 0;
      left: 0;
      width:0;
      transition: width 0.6s cubic-bezier(0.65, 0, 0.076, 1), background-color 0.3s cubic-bezier(0.65, 0, 0.076, 1);
      z-index: -1;
    }

    @media screen and (min-width: 75rem) {
      font-size: $fs-16;
        &:hover{
          transform: scale(1.1);
        }

        &:hover::after{
          background-color: $bg-graphic;
          width: 100%;
          inset: 0;
        }
    }
}

@mixin cta2 {
  @include cta;
    &::before{
      content: '';
      background-color: $bg-illustration;
    }

    @media screen and (min-width: 75rem) {
      &:hover::after{
        background-color: $bg-ui;
      }
    }
}

.cta{
  @include cta;
}

.cta2{
  @include cta2;
}

//logo
@media screen and (max-width: 47.9rem) {
  .logo{
    width: 3rem;
  }
}

//Cards
.card{
  border-radius: 8px;
  display: grid;
  padding: 1.5rem;
  width: 20.8125rem;

    p{
      color: $label-cards;
      font-size: $fs-24;
      align-self: end;
      justify-self: start;
    }

    img{
      justify-self: end;
    }
}

.graphic{
  background-color: $bg-graphic;
  height: 22.75rem;
}

.ui-ux{
  background-color: $bg-ui;
  width: 100%;
}

.apps{
  background-color: $bg-apps;
  width: 100%;
}

.illustration{
  background-color: $bg-illustration;
  height: 9.875rem;
}

.photo{
  background-color: $bg-photography;
  height: 11.37rem;
}

.motion{
  background-color: $bg-motion;
  height: 11.37rem;
    @media screen and (min-width: 75rem) {
      height: 10rem;
    }
}

.img-about{
  max-width: 18.75rem;
    @media screen and (min-width: 48rem) {
      max-width: 22.75rem;
    }

    @media screen and (min-width: 75rem) {
      max-width: 27.81rem;
    }
}

//Slide component
.glide__arrows{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.arrow{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: $heading-black;
  border: none;
  box-shadow: none;
  display: grid;
  place-content: center;
  transition: all 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  position: static;
    @media screen and (min-width: 48rem) {
      &:hover{
        background-color: $bg-graphic;
      }
    }
}

.glide__slide img{
  border-radius: 0.5rem;
  width: 16.875rem;
  height: 11.25rem;

    @media screen and (min-width: 48rem) {
      width: 33.75rem;
      height: 22.5rem;
    }
}
